In [9]:
import pandas as pd
import numpy as np
import xarray as xr
import netCDF4 as nc4
%matplotlib inline
from matplotlib import pyplot as plt
import os #to get access to Windows OS

In [10]:
directory = 'C:/Users/18593/NDLAS A Primary/'
file = 'NLDAS_FORA0125_H.A20200308.0200.002.grb.SUB.nc4'

# use os.path.join to combine the parts
full_path = os.path.join(directory, file)

In [11]:
tornado_raw = pd.read_csv("https://raw.githubusercontent.com/RouseJo/DTSC691/main/tornados.csv")
tornado_raw

,om,yr,mo,dy,date,time,tz,datetime_utc,st,stf,...,elon,len,wid,ns,sn,f1,f2,f3,f4,fc
0,192,1950,10,1,1950-10-01,21:00:00,America/Chicago,1950-10-02T03:00:00Z,OK,40,...,-102.3000,15.80,10,1,1,25,0,0,0,False
1,193,1950,10,9,1950-10-09,02:15:00,America/Chicago,1950-10-09T08:15:00Z,NC,37,...,0.0000,2.00,880,1,1,47,0,0,0,False
2,195,1950,11,20,1950-11-20,02:20:00,America/Chicago,1950-11-20T08:20:00Z,KY,21,...,0.0000,0.10,10,1,1,177,0,0,0,False
3,196,1950,11,20,1950-11-20,04:00:00,America/Chicago,1950-11-20T10:00:00Z,KY,21,...,0.0000,0.10,10,1,1,209,0,0,0,False
4,197,1950,11,20,1950-11-20,07:30:00,America/Chicago,1950-11-20T13:30:00Z,MS,28,...,0.0000,2.00,37,1,1,101,0,0,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68688,621922,2022,9,28,2022-09-28,13:32:00,America/Chicago,2022-09-28T18:32:00Z,FL,12,...,-80.8841,3.00,100,1,1,9,0,0,0,False
68689,621923,2022,9,30,2022-09-30,10:25:00,America/Chicago,2022-09-30T15:25:00Z,NC,37,...,-78.3011,0.74,20,1,1,19,0,0,0,False
68690,621924,2022,9,30,2022-09-30,13:22:00,America/Chicago,2022-09-30T18:22:00Z,NC,37,...,-76.7147,0.70,12,1,1,13,0,0,0,False
68691,621900,2022,9,4,2022-09-04,15:44:00,America/Chicago,2022-09-04T20:44:00Z,OH,39,...,-80.6555,0.07,15,1,1,99,0,0,0,False
68692,621901,2022,9,9,2022-09-09,23:21:00,America/Chicago,2022-09-10T04:21:00Z,SC,45,...,-79.7537,0.68,125,1,1,19,0,0,0,False

In [12]:
dt = pd.to_datetime(tornado_raw['datetime_utc'])

nomin = dt.apply(lambda t: t.replace(minute=0)).astype(str)
nomin

0        1950-10-02 03:00:00+00:00
1        1950-10-09 08:00:00+00:00
2        1950-11-20 08:00:00+00:00
3        1950-11-20 10:00:00+00:00
4        1950-11-20 13:00:00+00:00
                   ...
68688    2022-09-28 18:00:00+00:00
68689    2022-09-30 15:00:00+00:00
68690    2022-09-30 18:00:00+00:00
68691    2022-09-04 20:00:00+00:00
68692    2022-09-10 04:00:00+00:00
Name: datetime_utc, Length: 68693, dtype: object

In [13]:
tornado_raw['hr'] = nomin
tornado_raw

,om,yr,mo,dy,date,time,tz,datetime_utc,st,stf,...,len,wid,ns,sn,f1,f2,f3,f4,fc,hr
0,192,1950,10,1,1950-10-01,21:00:00,America/Chicago,1950-10-02T03:00:00Z,OK,40,...,15.80,10,1,1,25,0,0,0,False,1950-10-02 03:00:00+00:00
1,193,1950,10,9,1950-10-09,02:15:00,America/Chicago,1950-10-09T08:15:00Z,NC,37,...,2.00,880,1,1,47,0,0,0,False,1950-10-09 08:00:00+00:00
2,195,1950,11,20,1950-11-20,02:20:00,America/Chicago,1950-11-20T08:20:00Z,KY,21,...,0.10,10,1,1,177,0,0,0,False,1950-11-20 08:00:00+00:00
3,196,1950,11,20,1950-11-20,04:00:00,America/Chicago,1950-11-20T10:00:00Z,KY,21,...,0.10,10,1,1,209,0,0,0,False,1950-11-20 10:00:00+00:00
4,197,1950,11,20,1950-11-20,07:30:00,America/Chicago,1950-11-20T13:30:00Z,MS,28,...,2.00,37,1,1,101,0,0,0,False,1950-11-20 13:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68688,621922,2022,9,28,2022-09-28,13:32:00,America/Chicago,2022-09-28T18:32:00Z,FL,12,...,3.00,100,1,1,9,0,0,0,False,2022-09-28 18:00:00+00:00
68689,621923,2022,9,30,2022-09-30,10:25:00,America/Chicago,2022-09-30T15:25:00Z,NC,37,...,0.74,20,1,1,19,0,0,0,False,2022-09-30 15:00:00+00:00
68690,621924,2022,9,30,2022-09-30,13:22:00,America/Chicago,2022-09-30T18:22:00Z,NC,37,...,0.70,12,1,1,13,0,0,0,False,2022-09-30 18:00:00+00:00
68691,621900,2022,9,4,2022-09-04,15:44:00,America/Chicago,2022-09-04T20:44:00Z,OH,39,...,0.07,15,1,1,99,0,0,0,False,2022-09-04 20:00:00+00:00
68692,621901,2022,9,9,2022-09-09,23:21:00,America/Chicago,2022-09-10T04:21:00Z,SC,45,...,0.68,125,1,1,19,0,0,0,False,2022-09-10 04:00:00+00:00

This is a selection of data between January 1st 2010 and December 31st 2020. New rating scales were used beginning in2007.

In [14]:
tornado_decade = tornado_raw[(tornado_raw['yr'] > 2009) & (tornado_raw['yr'] < 2021)]
tornado_decade

,om,yr,mo,dy,date,time,tz,datetime_utc,st,stf,...,len,wid,ns,sn,f1,f2,f3,f4,fc,hr
53228,1101,2010,10,18,2010-10-18,17:43:00,America/Chicago,2010-10-18T22:43:00Z,AZ,4,...,1.23,25,1,1,15,0,0,0,False,2010-10-18 22:00:00+00:00
53229,1102,2010,10,21,2010-10-21,16:48:00,America/Chicago,2010-10-21T21:48:00Z,TX,48,...,0.78,75,1,1,461,0,0,0,False,2010-10-21 21:00:00+00:00
53230,1103,2010,10,21,2010-10-21,17:34:00,America/Chicago,2010-10-21T22:34:00Z,AZ,4,...,0.81,20,1,1,1,0,0,0,False,2010-10-21 22:00:00+00:00
53231,1104,2010,10,21,2010-10-21,17:47:00,America/Chicago,2010-10-21T22:47:00Z,NM,35,...,2.86,200,1,1,5,0,0,0,False,2010-10-21 22:00:00+00:00
53232,1105,2010,10,21,2010-10-21,18:03:00,America/Chicago,2010-10-21T23:03:00Z,NM,35,...,0.56,50,1,1,5,0,0,0,False,2010-10-21 23:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66231,619522,2020,9,1,2020-09-01,18:10:00,America/Chicago,2020-09-01T23:10:00Z,TX,48,...,0.01,30,1,1,191,0,0,0,False,2020-09-01 23:00:00+00:00
66232,619523,2020,9,3,2020-09-03,15:57:00,America/Chicago,2020-09-03T20:57:00Z,MD,24,...,6.05,100,1,1,3,0,0,0,False,2020-09-03 20:00:00+00:00
66233,619524,2020,9,5,2020-09-05,16:17:00,America/Chicago,2020-09-05T21:17:00Z,CA,6,...,12.02,50,1,1,39,0,0,0,False,2020-09-05 21:00:00+00:00
66234,619525,2020,9,5,2020-09-05,18:29:00,America/Chicago,2020-09-05T23:29:00Z,CA,6,...,1.12,25,1,1,19,0,0,0,False,2020-09-05 23:00:00+00:00
66235,619526,2020,9,7,2020-09-07,15:14:00,America/Chicago,2020-09-07T20:14:00Z,OH,39,...,3.21,150,1,1,41,0,0,0,False,2020-09-07 20:00:00+00:00

In [15]:
tornado_decade['hrcode'] = tornado_decade.hr.str.replace('-','')
tornado_decade

C:\Users\18593\AppData\Local\Temp\ipykernel_25860\744176456.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tornado_decade['hrcode'] = tornado_decade.hr.str.replace('-','')

,om,yr,mo,dy,date,time,tz,datetime_utc,st,stf,...,wid,ns,sn,f1,f2,f3,f4,fc,hr,hrcode
53228,1101,2010,10,18,2010-10-18,17:43:00,America/Chicago,2010-10-18T22:43:00Z,AZ,4,...,25,1,1,15,0,0,0,False,2010-10-18 22:00:00+00:00,20101018 22:00:00+00:00
53229,1102,2010,10,21,2010-10-21,16:48:00,America/Chicago,2010-10-21T21:48:00Z,TX,48,...,75,1,1,461,0,0,0,False,2010-10-21 21:00:00+00:00,20101021 21:00:00+00:00
53230,1103,2010,10,21,2010-10-21,17:34:00,America/Chicago,2010-10-21T22:34:00Z,AZ,4,...,20,1,1,1,0,0,0,False,2010-10-21 22:00:00+00:00,20101021 22:00:00+00:00
53231,1104,2010,10,21,2010-10-21,17:47:00,America/Chicago,2010-10-21T22:47:00Z,NM,35,...,200,1,1,5,0,0,0,False,2010-10-21 22:00:00+00:00,20101021 22:00:00+00:00
53232,1105,2010,10,21,2010-10-21,18:03:00,America/Chicago,2010-10-21T23:03:00Z,NM,35,...,50,1,1,5,0,0,0,False,2010-10-21 23:00:00+00:00,20101021 23:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66231,619522,2020,9,1,2020-09-01,18:10:00,America/Chicago,2020-09-01T23:10:00Z,TX,48,...,30,1,1,191,0,0,0,False,2020-09-01 23:00:00+00:00,20200901 23:00:00+00:00
66232,619523,2020,9,3,2020-09-03,15:57:00,America/Chicago,2020-09-03T20:57:00Z,MD,24,...,100,1,1,3,0,0,0,False,2020-09-03 20:00:00+00:00,20200903 20:00:00+00:00
66233,619524,2020,9,5,2020-09-05,16:17:00,America/Chicago,2020-09-05T21:17:00Z,CA,6,...,50,1,1,39,0,0,0,False,2020-09-05 21:00:00+00:00,20200905 21:00:00+00:00
66234,619525,2020,9,5,2020-09-05,18:29:00,America/Chicago,2020-09-05T23:29:00Z,CA,6,...,25,1,1,19,0,0,0,False,2020-09-05 23:00:00+00:00,20200905 23:00:00+00:00
66235,619526,2020,9,7,2020-09-07,15:14:00,America/Chicago,2020-09-07T20:14:00Z,OH,39,...,150,1,1,41,0,0,0,False,2020-09-07 20:00:00+00:00,20200907 20:00:00+00:00

In [16]:
tornado_decade['code'] =  tornado_decade['hrcode'].astype(str).str[:8] + '.' + tornado_decade['hrcode'].astype(str).str[9:11]

tornado_decade

C:\Users\18593\AppData\Local\Temp\ipykernel_25860\1612356847.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tornado_decade['code'] =  tornado_decade['hrcode'].astype(str).str[:8] + '.' + tornado_decade['hrcode'].astype(str).str[9:11]

,om,yr,mo,dy,date,time,tz,datetime_utc,st,stf,...,ns,sn,f1,f2,f3,f4,fc,hr,hrcode,code
53228,1101,2010,10,18,2010-10-18,17:43:00,America/Chicago,2010-10-18T22:43:00Z,AZ,4,...,1,1,15,0,0,0,False,2010-10-18 22:00:00+00:00,20101018 22:00:00+00:00,20101018.22
53229,1102,2010,10,21,2010-10-21,16:48:00,America/Chicago,2010-10-21T21:48:00Z,TX,48,...,1,1,461,0,0,0,False,2010-10-21 21:00:00+00:00,20101021 21:00:00+00:00,20101021.21
53230,1103,2010,10,21,2010-10-21,17:34:00,America/Chicago,2010-10-21T22:34:00Z,AZ,4,...,1,1,1,0,0,0,False,2010-10-21 22:00:00+00:00,20101021 22:00:00+00:00,20101021.22
53231,1104,2010,10,21,2010-10-21,17:47:00,America/Chicago,2010-10-21T22:47:00Z,NM,35,...,1,1,5,0,0,0,False,2010-10-21 22:00:00+00:00,20101021 22:00:00+00:00,20101021.22
53232,1105,2010,10,21,2010-10-21,18:03:00,America/Chicago,2010-10-21T23:03:00Z,NM,35,...,1,1,5,0,0,0,False,2010-10-21 23:00:00+00:00,20101021 23:00:00+00:00,20101021.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66231,619522,2020,9,1,2020-09-01,18:10:00,America/Chicago,2020-09-01T23:10:00Z,TX,48,...,1,1,191,0,0,0,False,2020-09-01 23:00:00+00:00,20200901 23:00:00+00:00,20200901.23
66232,619523,2020,9,3,2020-09-03,15:57:00,America/Chicago,2020-09-03T20:57:00Z,MD,24,...,1,1,3,0,0,0,False,2020-09-03 20:00:00+00:00,20200903 20:00:00+00:00,20200903.20
66233,619524,2020,9,5,2020-09-05,16:17:00,America/Chicago,2020-09-05T21:17:00Z,CA,6,...,1,1,39,0,0,0,False,2020-09-05 21:00:00+00:00,20200905 21:00:00+00:00,20200905.21
66234,619525,2020,9,5,2020-09-05,18:29:00,America/Chicago,2020-09-05T23:29:00Z,CA,6,...,1,1,19,0,0,0,False,2020-09-05 23:00:00+00:00,20200905 23:00:00+00:00,20200905.23
66235,619526,2020,9,7,2020-09-07,15:14:00,America/Chicago,2020-09-07T20:14:00Z,OH,39,...,1,1,41,0,0,0,False,2020-09-07 20:00:00+00:00,20200907 20:00:00+00:00,20200907.20

In [21]:
head = tornado_decade.head()
head

,om,yr,mo,dy,date,time,tz,datetime_utc,st,stf,...,ns,sn,f1,f2,f3,f4,fc,hr,hrcode,code
53228,1101,2010,10,18,2010-10-18,17:43:00,America/Chicago,2010-10-18T22:43:00Z,AZ,4,...,1,1,15,0,0,0,False,2010-10-18 22:00:00+00:00,20101018 22:00:00+00:00,20101018.22
53229,1102,2010,10,21,2010-10-21,16:48:00,America/Chicago,2010-10-21T21:48:00Z,TX,48,...,1,1,461,0,0,0,False,2010-10-21 21:00:00+00:00,20101021 21:00:00+00:00,20101021.21
53230,1103,2010,10,21,2010-10-21,17:34:00,America/Chicago,2010-10-21T22:34:00Z,AZ,4,...,1,1,1,0,0,0,False,2010-10-21 22:00:00+00:00,20101021 22:00:00+00:00,20101021.22
53231,1104,2010,10,21,2010-10-21,17:47:00,America/Chicago,2010-10-21T22:47:00Z,NM,35,...,1,1,5,0,0,0,False,2010-10-21 22:00:00+00:00,20101021 22:00:00+00:00,20101021.22
53232,1105,2010,10,21,2010-10-21,18:03:00,America/Chicago,2010-10-21T23:03:00Z,NM,35,...,1,1,5,0,0,0,False,2010-10-21 23:00:00+00:00,20101021 23:00:00+00:00,20101021.23

In [49]:
dir_list = os.listdir(directory)

my_list = []
for dtg in tornado_decade['code']:
    for file_name in dir_list:
        if dtg in file_name:
            my_list.append(file_name)
            #print(file_name)
            break
    else:
        #print('na')
        my_list.append('None')

my_list

['None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'NLDAS_FORA0125_H.A20101025.0900.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20101025.0900.002.grb.SUB.nc4',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'NLDAS_FORA0125_H.A20101027.2000.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20101027.2000.002.grb.SUB.nc4',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'NLDAS_FORA0125_H.A20101006.1900.002.grb.SUB.nc4',
 'None',
 'None',
 'None',
 'None',
 'None',
 'NLDAS_FORA0125_H.A20101122.2100.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20101122.2100.002.grb.SUB.nc4',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'NLDAS_FORA0125_H.A20100425.0600.002.grb.SUB.nc4',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'NLDAS_FORA0125_H.A20100430.2300.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100430.2300.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100430.2300.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100430.2300.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100430.2300.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100430.2300.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100430.2300.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100430.2300.002.grb.SUB.nc4',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'NLDAS_FORA0125_H.A20100510.2100.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100510.2100.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100510.2100.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100510.2100.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100510.2100.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100510.2100.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100510.2100.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100510.2100.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100510.2100.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100510.2100.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100510.2100.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100510.2100.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100510.2100.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100510.2100.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100510.2100.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100510.2100.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100510.2100.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100510.2100.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100510.2100.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100510.2100.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100510.2100.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100510.2100.002.grb.SUB.nc4',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'NLDAS_FORA0125_H.A20100513.1200.002.grb.SUB.nc4',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'NLDAS_FORA0125_H.A20100518.2300.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100518.2300.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100518.2300.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100518.2300.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100518.2300.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100518.2300.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100518.2300.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100518.2300.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100518.2300.002.grb.SUB.nc4',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'NLDAS_FORA0125_H.A20100525.0100.002.grb.SUB.nc4',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'NLDAS_FORA0125_H.A20100502.0900.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100502.0900.002.grb.SUB.nc4',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'NLDAS_FORA0125_H.A20100612.0100.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100612.0100.002.grb.SUB.nc4',
 'None',
 'NLDAS_FORA0125_H.A20100612.0400.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100612.0400.002.grb.SUB.nc4',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'NLDAS_FORA0125_H.A20100616.2200.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100616.2200.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100616.2200.002.grb.SUB.nc4',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'NLDAS_FORA0125_H.A20100617.2200.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100617.2200.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100617.2200.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100617.2200.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100617.2200.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100617.2200.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100617.2200.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100617.2200.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100617.2200.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100617.2200.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100617.2200.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100617.2200.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100617.2200.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100617.2200.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100617.2200.002.grb.SUB.nc4',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'NLDAS_FORA0125_H.A20100621.2200.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100621.2200.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100621.2200.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100621.2200.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100621.2200.002.grb.SUB.nc4',
 'None',
 'None',
 'None',
 'None',
 'NLDAS_FORA0125_H.A20100622.0000.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100622.0000.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100622.0000.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100622.0000.002.grb.SUB.nc4',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'NLDAS_FORA0125_H.A20100606.0000.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100606.0000.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100606.0000.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100606.0000.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100606.0000.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100606.0000.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100606.0000.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100606.0000.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100606.0000.002.grb.SUB.nc4',
 'NLDAS_FORA0125_H.A20100606.0000.002.grb.SUB.nc4',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 ...]

In [50]:
tornado_decade['fn'] = my_list
tornado_decade

C:\Users\18593\AppData\Local\Temp\ipykernel_25860\910713039.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tornado_decade['fn'] = my_list

,om,yr,mo,dy,date,time,tz,datetime_utc,st,stf,...,sn,f1,f2,f3,f4,fc,hr,hrcode,code,fn
53228,1101,2010,10,18,2010-10-18,17:43:00,America/Chicago,2010-10-18T22:43:00Z,AZ,4,...,1,15,0,0,0,False,2010-10-18 22:00:00+00:00,20101018 22:00:00+00:00,20101018.22,None
53229,1102,2010,10,21,2010-10-21,16:48:00,America/Chicago,2010-10-21T21:48:00Z,TX,48,...,1,461,0,0,0,False,2010-10-21 21:00:00+00:00,20101021 21:00:00+00:00,20101021.21,None
53230,1103,2010,10,21,2010-10-21,17:34:00,America/Chicago,2010-10-21T22:34:00Z,AZ,4,...,1,1,0,0,0,False,2010-10-21 22:00:00+00:00,20101021 22:00:00+00:00,20101021.22,None
53231,1104,2010,10,21,2010-10-21,17:47:00,America/Chicago,2010-10-21T22:47:00Z,NM,35,...,1,5,0,0,0,False,2010-10-21 22:00:00+00:00,20101021 22:00:00+00:00,20101021.22,None
53232,1105,2010,10,21,2010-10-21,18:03:00,America/Chicago,2010-10-21T23:03:00Z,NM,35,...,1,5,0,0,0,False,2010-10-21 23:00:00+00:00,20101021 23:00:00+00:00,20101021.23,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66231,619522,2020,9,1,2020-09-01,18:10:00,America/Chicago,2020-09-01T23:10:00Z,TX,48,...,1,191,0,0,0,False,2020-09-01 23:00:00+00:00,20200901 23:00:00+00:00,20200901.23,None
66232,619523,2020,9,3,2020-09-03,15:57:00,America/Chicago,2020-09-03T20:57:00Z,MD,24,...,1,3,0,0,0,False,2020-09-03 20:00:00+00:00,20200903 20:00:00+00:00,20200903.20,None
66233,619524,2020,9,5,2020-09-05,16:17:00,America/Chicago,2020-09-05T21:17:00Z,CA,6,...,1,39,0,0,0,False,2020-09-05 21:00:00+00:00,20200905 21:00:00+00:00,20200905.21,None
66234,619525,2020,9,5,2020-09-05,18:29:00,America/Chicago,2020-09-05T23:29:00Z,CA,6,...,1,19,0,0,0,False,2020-09-05 23:00:00+00:00,20200905 23:00:00+00:00,20200905.23,None
66235,619526,2020,9,7,2020-09-07,15:14:00,America/Chicago,2020-09-07T20:14:00Z,OH,39,...,1,41,0,0,0,False,2020-09-07 20:00:00+00:00,20200907 20:00:00+00:00,20200907.20,None

In [51]:
filtered = tornado_decade.loc[tornado_decade['fn'] != 'None']
filtered

,om,yr,mo,dy,date,time,tz,datetime_utc,st,stf,...,sn,f1,f2,f3,f4,fc,hr,hrcode,code,fn
53251,1124,2010,10,25,2010-10-25,04:00:00,America/Chicago,2010-10-25T09:00:00Z,TN,47,...,1,65,0,0,0,False,2010-10-25 09:00:00+00:00,20101025 09:00:00+00:00,20101025.09,NLDAS_FORA0125_H.A20101025.0900.002.grb.SUB.nc4
53252,1125,2010,10,25,2010-10-25,04:17:00,America/Chicago,2010-10-25T09:17:00Z,AL,1,...,1,97,0,0,0,False,2010-10-25 09:00:00+00:00,20101025 09:00:00+00:00,20101025.09,NLDAS_FORA0125_H.A20101025.0900.002.grb.SUB.nc4
53319,1192,2010,10,27,2010-10-27,15:00:00,America/Chicago,2010-10-27T20:00:00Z,VA,51,...,1,760,87,85,0,False,2010-10-27 20:00:00+00:00,20101027 20:00:00+00:00,20101027.20,NLDAS_FORA0125_H.A20101027.2000.002.grb.SUB.nc4
53320,1193,2010,10,27,2010-10-27,15:30:00,America/Chicago,2010-10-27T20:30:00Z,NC,37,...,1,135,0,0,0,False,2010-10-27 20:00:00+00:00,20101027 20:00:00+00:00,20101027.20,NLDAS_FORA0125_H.A20101027.2000.002.grb.SUB.nc4
53333,1098,2010,10,6,2010-10-06,14:00:00,America/Chicago,2010-10-06T19:00:00Z,UT,49,...,1,55,0,0,0,False,2010-10-06 19:00:00+00:00,20101006 19:00:00+00:00,20101006.19,NLDAS_FORA0125_H.A20101006.1900.002.grb.SUB.nc4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54477,1076,2010,9,16,2010-09-16,16:21:00,America/Chicago,2010-09-16T21:21:00Z,OH,39,...,1,127,115,0,0,False,2010-09-16 21:00:00+00:00,20100916 21:00:00+00:00,20100916.21,NLDAS_FORA0125_H.A20100916.2100.002.grb.SUB.nc4
54478,1077,2010,9,16,2010-09-16,16:54:00,America/Chicago,2010-09-16T21:54:00Z,OH,39,...,1,9,0,0,0,False,2010-09-16 21:00:00+00:00,20100916 21:00:00+00:00,20100916.21,NLDAS_FORA0125_H.A20100916.2100.002.grb.SUB.nc4
54481,1080,2010,9,21,2010-09-21,15:00:00,America/Chicago,2010-09-21T20:00:00Z,WI,55,...,1,105,0,0,0,False,2010-09-21 20:00:00+00:00,20100921 20:00:00+00:00,20100921.20,NLDAS_FORA0125_H.A20100921.2000.002.grb.SUB.nc4
54507,1049,2010,9,9,2010-09-09,16:00:00,America/Chicago,2010-09-09T21:00:00Z,ND,38,...,1,87,0,0,0,False,2010-09-09 21:00:00+00:00,20100909 21:00:00+00:00,20100909.21,NLDAS_FORA0125_H.A20100909.2100.002.grb.SUB.nc4
54508,1050,2010,9,9,2010-09-09,16:20:00,America/Chicago,2010-09-09T21:20:00Z,MT,30,...,1,107,0,0,0,False,2010-09-09 21:00:00+00:00,20100909 21:00:00+00:00,20100909.21,NLDAS_FORA0125_H.A20100909.2100.002.grb.SUB.nc4

In [32]:
df = pd.DataFrame(columns=["TMP", "SPFH", "PRES", "UGRD", "VGRD", "DLWRF", "CONVfrac", "CAPE", "PEVAP", "APCP", "DSWRF"]) 

for i in tornado_decade['fn']:
    if i != 'none':
        sel_file = i
        j = tornado_decade['slat'].iloc[0]
        k = tornado_decade['slon'].iloc[0]
        sel_path = os.path.join(directory, sel_file)
        read_it = xr.open_dataset(sel_path, engine='netcdf4')
        isolate_it = read_it.sel(lat=j, lon=k, method='nearest').to_dataframe()
        features = isolate_it[["TMP", "SPFH", "PRES", "UGRD", "VGRD", "DLWRF", "CONVfrac", "CAPE", "PEVAP", "APCP", "DSWRF"]]
        feat_drop = features.reset_index(drop=True)
        #df = df.append(merge)
        df = pd.concat([feat_drop, df], ignore_index=True)
df

,TMP,SPFH,PRES,UGRD,VGRD,DLWRF,CONVfrac,CAPE,PEVAP,APCP,DSWRF
0,297.619995,0.003829,87151.492188,1.93,6.19,304.619995,0.0,0.000000,0.9510,0.0,832.539978
1,297.619995,0.003829,87151.492188,1.93,6.19,304.619995,0.0,0.000000,0.9510,0.0,832.539978
2,302.260010,0.008689,86712.140625,0.90,8.67,364.880005,0.0,27.950001,0.9683,0.0,797.840027
3,304.290009,0.006528,87358.218750,1.27,5.02,360.750000,0.0,0.000000,0.9539,0.0,786.015991
4,304.290009,0.006528,87358.218750,1.27,5.02,360.750000,0.0,0.000000,0.9539,0.0,786.015991
...,...,...,...,...,...,...,...,...,...,...,...
105,290.859985,0.007044,87601.000000,0.20,4.94,359.070007,0.0,318.088013,0.5450,0.0,566.948975
106,287.220001,0.002136,87749.171875,-2.65,-5.70,232.820007,0.0,0.000000,0.5968,0.0,696.648010
107,287.220001,0.002136,87749.171875,-2.65,-5.70,232.820007,0.0,0.000000,0.5968,0.0,696.648010
108,286.829987,0.007108,87127.273438,1.89,6.47,298.579987,0.0,0.000000,0.1065,0.0,0.000000
109,286.829987,0.007108,87127.273438,1.89,6.47,298.579987,0.0,0.000000,0.1065,0.0,0.000000

In [53]:
merge = pd.concat([filtered.reset_index(drop=True), df.reset_index(drop=True)], axis=1) 
#merge = pd.concat([no_none, df], axis = 1)
merge

,om,yr,mo,dy,date,time,tz,datetime_utc,st,stf,...,SPFH,PRES,UGRD,VGRD,DLWRF,CONVfrac,CAPE,PEVAP,APCP,DSWRF
0,1124,2010,10,25,2010-10-25,04:00:00,America/Chicago,2010-10-25T09:00:00Z,TN,47,...,0.003829,87151.492188,1.93,6.19,304.619995,0.0,0.000000,0.9510,0.0,832.539978
1,1125,2010,10,25,2010-10-25,04:17:00,America/Chicago,2010-10-25T09:17:00Z,AL,1,...,0.003829,87151.492188,1.93,6.19,304.619995,0.0,0.000000,0.9510,0.0,832.539978
2,1192,2010,10,27,2010-10-27,15:00:00,America/Chicago,2010-10-27T20:00:00Z,VA,51,...,0.008689,86712.140625,0.90,8.67,364.880005,0.0,27.950001,0.9683,0.0,797.840027
3,1193,2010,10,27,2010-10-27,15:30:00,America/Chicago,2010-10-27T20:30:00Z,NC,37,...,0.006528,87358.218750,1.27,5.02,360.750000,0.0,0.000000,0.9539,0.0,786.015991
4,1098,2010,10,6,2010-10-06,14:00:00,America/Chicago,2010-10-06T19:00:00Z,UT,49,...,0.006528,87358.218750,1.27,5.02,360.750000,0.0,0.000000,0.9539,0.0,786.015991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,1076,2010,9,16,2010-09-16,16:21:00,America/Chicago,2010-09-16T21:21:00Z,OH,39,...,0.007044,87601.000000,0.20,4.94,359.070007,0.0,318.088013,0.5450,0.0,566.948975
106,1077,2010,9,16,2010-09-16,16:54:00,America/Chicago,2010-09-16T21:54:00Z,OH,39,...,0.002136,87749.171875,-2.65,-5.70,232.820007,0.0,0.000000,0.5968,0.0,696.648010
107,1080,2010,9,21,2010-09-21,15:00:00,America/Chicago,2010-09-21T20:00:00Z,WI,55,...,0.002136,87749.171875,-2.65,-5.70,232.820007,0.0,0.000000,0.5968,0.0,696.648010
108,1049,2010,9,9,2010-09-09,16:00:00,America/Chicago,2010-09-09T21:00:00Z,ND,38,...,0.007108,87127.273438,1.89,6.47,298.579987,0.0,0.000000,0.1065,0.0,0.000000
109,1050,2010,9,9,2010-09-09,16:20:00,America/Chicago,2010-09-09T21:20:00Z,MT,30,...,0.007108,87127.273438,1.89,6.47,298.579987,0.0,0.000000,0.1065,0.0,0.000000